/*
 * Comments are written as C++ style. 
 */
 html {
    overflow-y: scroll;
}

body {
    margin: 8px auto;
    background: rgb(255, 255, 255);
    width: 1000px;
}
.options{

    background-color: cornsilk;
    width: fit-content;
    float: left;
    padding-right: 20px;
}
table {
    border-collapse: collapse;
    width: 700px;
    
  }
  div{
      padding: 20px 20px 20px 20px;
      background: rgb(185, 181, 181);
      border-radius: 10px;
      
      opacity: 0.7;

  }
  
  table, th, td {
    border: 1px solid black;
    text-align: left;
    padding-left: 10px;
    padding-right: 20px;
  }
  #duck{
      float: left;
  }

 
 
  #mydiv {
    position: absolute;
    z-index: 9;
    border: 1px solid #d3d3d3;
    text-align: center;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
  }