@page
@model webapp.AboutModel
@{
    ViewData["Title"] = "About";
}
    <div>
        <h1>Assignment 7</h1>
        <p>
            This assignment is about developing two applications:
            <br />- A Console Application: when running the app the client is presented with multiple choices, show the list of accounts, search by number,
            move money from one account to another and creating a new account.
            This should be developed using .Net core and C#
            <br />- A web Application: pretty much providing the same functionalites however, should be developed using .Net core, ASP.NET core, C# and the MVC architectural design pattern.

        </p>

    </div>


